PORT=5000
OPENAI_API_KEY=your_openai_api_key_here
NODE_ENV=development
MONGODB_URI=mongodb+srv://voicescribe:Imran@786@usercluster.5r7yx2d.mongodb.net/voicescribe?appName=UserCluster
JWT_SECRET=8cd80ff857e83bece1942a410d16c5797aed4071231747e44b2f69a66db13fb3